    @font-face {
	font-family: "Octin-Vintage";
	src: url(./fonts/octin-vintage.ttf) format("truetype");
    }

    @font-face {
	font-family: "JosefinSlab-SemiBold";
	src: url(./fonts/JosefinSlab-SemiBold.ttf) format("truetype");
    }

    body {
	background-color: #6A715F;
	color: white;
	font-family: 'JosefinSlab-SemiBold', 'Open Sans','Helvetica Neue',Arial,sans-serif;
    }

    p, #content ul li {font-family: 'Open Sans', 'Arial', sans-serif;font-size: .9em;}

    div#container, div#container-no-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height:auto;
	background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-position: center;
	background-image:url(/assets/img/chrait.png);
    }

    div#container {
	height: 100%;
    }

    div#container-no-bg {
	background-image: none;
	background-color: #6A715F;
    }

    div#header {
	width: 100%;
	position: fixed;
	top 5;
	background-color: #6A715F;
	opacity: .95;
    }

    #header h2 {
    	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	font-family: 'Octin-Vintage', 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-family: 'JosefinSlab-SemiBold', 'Open Sans','Helvetica Neue',Arial,sans-serif;
	margin: 10px 15px;
	text-transform: lowercase;
	display: inline;
    }

    #header h2 a {
	text-decoration: none;
	color: white;
    }

   #navbar {
	float: right;
	display: inline;
    }

   #navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
   	background-color: #6A715F;
	color: white;
	font-family: 'JosefinSlab-SemiBold', 'Open Sans','Helvetica Neue',Arial,sans-serif;
    }  

  #navbar ul li {
    float: left;
  }  

  #navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px 14px 10px;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: lowercase;
  }

  img.page-main {
    clear: both;
    width: 480px;
    height: 360px;
    display: block;
    margin: auto;
  }

  div.page-content {
    width: 90%;
    margin: auto;
  }

  #content h3, h4 {
    text-align: center;
  }

  #content a {
    color: white;
  }


    @media only screen and (max-width: 945px) {
        div#container {
		height: 260px;
		width: 100%;
		background-image:url(/assets/img/chrait.png);
		background-repeat: no-repeat;
		background-size: 240px 180px;
		-o-background-size: 240px 180px;
		-webkit-background-size:240px 180px;
		-moz-background-size:240px 180px;
		background-position: center 60px;
		background-repeat: no-repeat;
	}

	div#container-no-bg {
		height: 20px;
		width: 100%;
	}	

	#header h2 {
		font-size: 1em;
		text-align:center;
		display: block;
	}
    	
	#navbar {float: none; display:block; margin: 0px auto;}
	#navbar ul li a {
 	    display: block;
 	    color: white;
	    text-align: center;
	    padding: 0px 10px 14px 10px;
	    text-decoration: none;
	    font-size: .6em;
	    text-transform: lowercase;
	}

	div.page-content {
		width: 95%;
	}
	img.page-main {
		width: 240px;
		height: 180px;
		padding-top: 40px;
	}
     }

/********  Leesi Anchor Pic   ********/
div#corner_pop img {
  width: 125px;
  position: fixed;
  bottom: -50px;
  right: -20px; 
}

/********  /Leesi Anchor Pic  ********/
@media screen and (max-width: 945px) {
  div#corner_pop img {
    display: none; } 
} 


#content h3.left {text-align:left;}


